.rugix
/.vscode
/target
/playground
/build
/crates/apps/rugix-admin/frontend/dist
/crates/apps/rugix-admin/frontend/node_modules
/crates/apps/rugix-admin/frontend/src/generated
/crates/apps/rugix-admin/frontend/tsconfig.tsbuildinfo

.devenv*
devenv.local.nix
devenv.local.yaml
.direnv
.pre-commit-config.yaml

.claude

*.cdx.json
